html
  head
    title Type #{result.data.type} with ID #{result.data.id} updated!
  body
    h1 Type #{result.data.type} with ID #{result.data.id} updated!
    p Our application has observed a successful update of a #{result.data.type} which has the ID #{result.data.id}.
    p This operation was performed in store: #{result.producer}. This operation was completed on #{time}.
